body{
  /* remove white margin space */
  margin: 0px 0px;
  height: 100%;
  width: 100%;
  position: relative;
}
.bg-container{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.bg{
  /* background: url(./img/IC434-LRGBH.jpg); */
  background: url(./img/clip.jpg);
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.1s;
  transform: rotateX('0deg');
  transform: rotateY('0deg');
  top: -10%;
  left: -10%;
  height: 120%;
  width: 120%;
  position: absolute;
  background-attachment: fixed;

}
.page-root{
  width: 100dvw;
  height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  background-color: blueviolet;
  padding: 0px 50px;
}
.container{
  display: flex;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 8px;
  height: 95vh;
  max-width: 1280px;
  flex-direction: column;

}
.profile-conctainer{
  background-color: red;
  height: 200px;
  width: 200px;
  min-width: 600px;
  opacity: 0.5;

}
.showcase-container{
  background-color: green;
  height: 600px;
  width: 200px;
  opacity: 0.3;
}
