body {
  /* remove white margin space */
  margin: 0px 0px;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
}
.bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.bg {
  background: url(./img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  transition: 0.5s;
  /* prevent white gap when rotate */
  top: -10%;
  left: -10%;
  height: 120%;
  width: 120%;
}
.blur {
  filter: blur(5px);
}
#app {
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}
.bottom-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(155, 155, 155, 0.05);
  backdrop-filter: blur(15px);
  z-index: -1;
}
.profile {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  width: 100%;
  padding: 3rem 5rem;
}

@media screen and (max-width: 768px) {

}
.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 30px;
  overflow: hidden;
  background: url("./img/me.jpg");
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
}
.profile-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 2rem;
}

.content {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .profile-text {
    align-items: center;
  }
  .content {
    flex-direction: column;
  }

}
.show-case {
  display: flex;
  width: 400px;
}
