<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>cursorFollower</title>
    <meta
      property="description"
      content="cursorFollower.js，帮助前端开发者快速实现简单页面跟随鼠标倾斜的3D效果"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:url" content="https://giantdragon.xyz/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="cursorFollower.js" />
    <meta
      property="og:description"
      content="cursorFollower.js，帮助前端开发者快速实现简单页面跟随鼠标倾斜的3D效果"
    />
  </head>
  <body>
    <div>66666</div>
  </body>